* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
}

a {
  color: unset;
}

li {
  list-style: none;
}

nav > ul {
  display: flex;
  gap: 0.5rem;
}

nav > ul > li {
  font-size: clamp(1.563rem, 0.3744rem + 5.9429vw, 1.953rem);
}
