* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 2.986rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
